.plans-container {
    margin-top: 4rem;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    position: relative;
}

.plans-blur-1 {
    width: 32rem;
    height: 23rem;
    top: 6rem;
    left: 0rem;
}

.plans-blur-2 {
    width: 32rem;
    height: 23rem;
    top: 10rem;
    right: 0rem;
}

.plans {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.plan {
    display: flex;
    flex-direction: column;
    background: var(--caloryCard);
    color: white;
    gap: 2rem;
    padding: 1.5rem;
    width: 15rem;
    box-shadow: 0px 0px 5px 1px rgb(204, 194, 194);
    cursor: pointer;
    border-radius: 8px;
    transition: 0.2s all ease;
}

.plan:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 1px rgb(204, 194, 194);
    background: var(--planCard);
    fill: white;
    
}

.plan:nth-child(2) {
    transform: scale(1.1);
    background: var(--planCard);
}

.plan>svg {
    fill: var(--orange);
    width: 2rem;
    height: 2rem;


}

.plan>:nth-child(2) {
    font-size: 1rem;
    font-weight: bold;
}

.plan>:nth-child(3) {
    font-size: 3rem;
    font-weight: bold;
}

.plan>:nth-child(5) {
    font-size: 0.8rem;


}

.features {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.feature {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.feature>img {
    width: 1rem;
}

.plans>:nth-child(2)>svg {
    fill: white;
}

.plans>:nth-child(2)>button {
    color: orange;
}


@media screen and (max-width: 768px) {
    .plans {
        flex-direction: column;
    }

    .plans>:nth-child(2) {
        transform: none;
    }
    .plans>:nth-child(2):hover {
        transform: scale(1.1);
    }
}